spring:
  application:
    name: api-gateway
server:
  port: 1118


zuul:
  routes:
    api-a: #注册到了Eureka服务器，直接用服务名映射即可
      path: /api-a/**
      serviceId: service-A
    api-b:
      path: /api-b/**
      serviceId: service-B
    api-a-url: #URL直接映射，不太友好，暴露了炔康刂
      path: /api-a-url/**
      url: http://localhost:1120/
    api-b-url:
      path: /api-b-url/**
      url: http://localhost:1121/

eureka:
  client: #客户端注册进eureka服务列表内
    service-url:
      defaultZone: http://localhost:1111/eureka/
      #这个地址就是在 Eureka 服务端的 application.yml 上暴露出的服务地址（这行后面加注释，可能会报错）